@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.5;
}

a {
  color: rebeccapurple;
  font-weight: 700;
  text-decoration: none;
}

h1, h2, h3 {
  text-transform:uppercase;
  letter-spacing: 0.01em;
}

.header {
  font-size: 20px;
  display: flex;
  border-bottom: 1px solid #000;
  padding: 10px 20px;
}

.logo {
  color: lightgreen;
  background-color: rebeccapurple;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin-right: 50px;
  padding: 5px 15px;
  text-decoration: none;
}

ul {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  gap: 30px;
}

/* ul > li:not(:first-child) { */
li {
  margin-top: 5px;
}

.box {
  display: flex;
  gap: 20px;
  border-bottom: 1px solid #000;
}

.aside {
  background-color: lavender;
  padding: 10px 20px;
}

.post {
  padding-bottom: 20px;
}

.footer {
  font-size: 13px;
  padding: 20px 20px;
}

.link {
  display: block;
  text-align: center;
  background-color: rebeccapurple;
  color: white;
  padding: 8px 15px;
}

.results {
  display: flex;
  gap: 10px;
}

.section {
  flex-basis: 30%;
  background-color: lavender;
  padding: 5px 20px;
  margin-bottom: 20px;
}